@use '../../sass/' as *;

.banner{
    background-color: $black;

    color: $white;
    height: 50rem;
    &__container{
        display: flex;
        align-items: center;
        max-width: 80%;
        margin: auto;
        height: 100%;
    }
    &__content{
        flex: 1;
       & > * ~ * {
        margin-top: 4rem;
       }
       & > h1{
        font-size: 5rem;
       }
       & > p {
        font-size: 2rem;
        color: $text-second;
       }
       &__button{
        padding:1rem 2rem;
        background-color: $primary-color;
        font-size: 1.5rem;
        font-weight: bold;
        border-radius: 5px;
        border: 1px solid $primary-color;
        &:hover{
            cursor: pointer;
            background-color: transparent;
            color: $primary-color;
            transition: all 0.3s ease;
        }
       }
    }
    &__img{
        flex: 1;
        height: 120%;
        top: 5rem;
        left: 2rem;
        position: relative;
        & > img{
            height: 100%;
        }
        @include desktop{
            height: 80%;
        }
        @include tablet{
            height: 70%;
        }
        @include mobile{
            display: none;
        }
    }
}